/config/ui-version.txt
/config/draft-foci/
/config/facet_field.yml
/config/reload.txt
/config/focus.yml
/config/database.yml
/config/solr.yml
/config/*.sphinx.conf
/config/s3_credentials.yml
/config/initializers/computer_specific_config.rb
/.bundle
/.config
/.npm
*~
*.cache
*.log
*.log.*
*.pid
tmp/**/*
tmp/*
private/**
.DS_Store
db/cstore/**
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
jetty/
coverage/*
db/*.sqlite3
*.tmproj
*.ruby-version*
*.rvmrc*
*.sw?
.sass-cache/**/*
public/clicktale
spec/reports
token.txt
/.idea
/.env
/.ssh
/public
!/public/spectrum/mirlyn/browse.css
/gems
/.local
/.wget-hsts
.bash_history
.byebug_history
